.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally center the content */
    width: 100%;
    height: 100%;
    margin-top: 10rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px; 
    margin-top: -3rem;
    margin-bottom: 10rem;
    background-color: white;
    height: 510px;
    border-radius: 25px;
}

.signup-form h3 {
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 25px;
}

.signup-form label {
    margin-bottom: 0.5rem;
}

.signup-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 22rem;
}

.signup-form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.signup-form button{
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.signup-form .error {
    color: red;
}

.option{
    display: inline-block;
}

.option p,
.option u {
  display: inline; /* Display as inline elements */
  margin: 0; /* Remove any default margin */
}
