.loan-card{
    border-radius: 10px;
    width: 100%;
    height: 200px;

    
  }

  .loan-card .lawyer-details {
    border: 1px solid;
    width: 100%;
    height: 180px;
    
  }

    .L-details{
    padding: .5rem;
    width: 100%;
  }
  
  .R-details { 
    height: 170px;
    width: 1000px;
    margin-top: -180px;
    margin-left: 12rem;
    padding: .5rem;
  }
  
  .primaryText {
    font-weight: bold;
  }
  
  .orangeText {
    color: orange;
  }
  

  .contacts{
    margin-top: .5rem;
    gap: 3rem;
      font-size: 0.9rem;
  }
  
  .contact{
    gap: 0.5rem;
  }

  .R-details .del{
    margin-top: -10rem;
    margin-left: 40rem;
  }


