.loan-card{
  
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    transition: all 300ms ease-in;
  }

  .loan-card .lawyer-details {
    border: 1px solid;
    width: 80%;
    margin: auto;
  }

    .L-details{
    width: 200px; 
    height: 170px;
    margin-left: 15rem;
  }
  
  .R-details { 
    height: 170px;
    width: 1000px;
    margin-top: -190px;
    margin-left: 29rem;
  }
  
  .primaryText {
    font-weight: bold;
  }
  
  .orangeText {
    color: orange;
  }
  

  .contacts{
    margin-top: .5rem;
    gap: 3rem;
      font-size: 0.9rem;
  }
  
  .contact{
    gap: 0.5rem;
  }

