.wrapper{
    width: 100%;
    height: 100%;
}

.loans-container .search-bar{
    width: clamp(12rem, 100%, 28rem);
    border-radius: 30px;
    border: 1px solid rgba(120, 120, 120, 0.374);
    flex-wrap: nowrap;
    margin-left: 38%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.loans-container .search-bar .button{
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 15px;
}

.loans-container .search-bar input{
    width: 70%;
}

.loans-container{
    height: 100%;   
    width: 80%;
    margin: auto;
    display: flex;
}

.loans{
    width: 70%;
    margin-top: 1rem;
}

.EMI{
    border-left: 1px solid;
    margin-left: 70%;
    width: 20%;
    margin-top: -55rem;
    height: 80vh;
}