.h-wrapper {
    color: black;
    z-index: 99;
    position: sticky;
    top: 0;
    background-color: white;
}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.148);
}

.h-menu {
    gap: 1.3rem;
}

.h-menu>*:hover {
    cursor: pointer;
}

.menu-icon {
    display: none;
}

.Text {
    color: black;
    font-weight: 500;
}

.contact-link ,
.add-property-link,
.properties-link  { 
    font-size: 1.3rem;
}

.login-buttons {
    display: flex;
    gap: 1rem; /* Adjust the gap between buttons as needed */
  }
  
  .login-buttons a {
    text-decoration: none;
    color: #333; /* Adjust the color of the links */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border: 1px solid #333; /* Add border for buttons */
    border-radius: 4px; /* Add border radius for rounded corners */
  }
  
  .login-buttons a:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    color: #000; /* Change text color on hover */
  }
  

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .h-menu {
        color: var(--black);
        position: absolute;
        top: 3rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        transition: all 300ms ease-in;
    }
}