.lawyers-container{
    gap: 2rem;
    width: 60%;
    margin: auto;
    
}
.lawyers-container .search-bar{
    border-radius: 40px;
    border: 3px solid rgba(120, 120, 120, 0.374);
    justify-content: space-around;
    height: 60px;
    width: 50%;
    margin-left: 30%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.lawyers-container .search-bar input{   
    width: 60%;
    outline: none;
    border: none;
}